.feedSize
{width: 60px;
height: 60px;
border-radius: 100%;}


.post-container {
  background-color: white;
  border-radius: 1em;
  display: grid;
  justify-content: center;

}

.post-container-plus {
  background-color: white;
  border-radius: 1em;
  display: grid;
  justify-content: center;
  gap: 13px;

}


.post-size{
min-width:  50%;
height: 78px;


}



.user-feed-container {
  text-align: center;
  width: 100%;
  gap: 5px;
  margin-top: 65px;
  justify-content: center;
}

.user-feed-image{
height: 80px;
width: 80px;
border-radius: 100%;
}

