input {
  border-radius: 5px;
}
button {
  cursor: pointer;
  border-radius: 13px;
}

.button2 {
  cursor: pointer;
  background-color: Transparent;
  border: none;
}

* {
  font-family: cursive;
}
.on {
  color: #000;
  background-color: Transparent;
  border: none;
}

.off {
  color: #ccc;
  background-color: Transparent;
  border: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: navy;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  z-index: 2;
  height: 48px;
}

.center {
  margin-top: 50%;
  justify-content: center;
  margin-right: 50%;
  width: 100%;
  height: 80%;
}

.signup {
  margin-top: 230%;
}

.login {
  margin-top: 100%;
}

.header {
  margin-left: -47%;
}

.header2 {
  margin-left: -17%;
}

.below-nav {
  margin-top: 6%;
  justify-content: center;
  display: grid;
  align-content: center;
}

.below-nav2 {
  margin-top: 50%;
  justify-content: center;
  margin-right: 50%;
  width: 100%;
  height: 80%;
}

.writepost {
  position: -webkit-sticky;
  margin-left: 45%;
  margin-top: -3%;
}

.username {
  position: sticky;
  margin-top: -4%;
  margin-left: 4%;
}

.post-space {
  position: sticky;
  margin-top: 1.5%;
}

.search {
  margin-left: -18%;
}
.book-size {
  height: 160px;
  width: 120px;
  margin-left: 18%;
}

.feedSize {
  margin-top: -2%;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 13.5%;
}

.submit-forms {
  justify-content: center;
  display: grid;
}

.tweetimage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: -9%;
}

.post-container2 {
  background-color: white;
  border-radius: 1em;
  display: grid;
  justify-content: center;
  margin-top: 1%;
}

.post-container {
  background-color: white;
  border-radius: 1em;
  display: grid;
  justify-content: center;
}

.post-container-plus {
  background-color: white;
  border-radius: 1em;
  display: grid;
  justify-content: center;
  gap: 13px;
}

.post-size {
  min-width: 40%;
  height: 78px;
}

.inline {
  background-color: white;
  display: grid;
  justify-content: center;
}

.post-size2 {
  margin-left: 12%;
}
.post-size3 {
  margin-left: 36%;
}

.post-size4 {
  min-width: 40%;
  height: 78px;
  margin-left: 11%;
}

.user-feed-container {
  text-align: center;
  width: 100%;
  gap: 5px;
  margin-top: 65px;
  justify-content: center;
}

.user-feed-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.welcome {
  margin-left: 610px;
}

.size {
  height: 550px;
  width: 550px;
  margin-left: 30%;
  border-radius: 100%;
}

.delete-post {
  margin-left: 47%;
}

.comments-container {
  display: flex;
  border-top: thin solid rgb(143, 142, 142);
  gap: 10px;
  padding-left: 70px;
}

.comments-headline {
  margin-left: 46.5%;
}

.side-nav {
  position: absolute;
  margin-top: -10%;
  margin-left: 10%;
}

.comment-format{
margin-top: 12%;


}